.game-form {
	background-color: none; 
}
.game-form input{
	border: dashed;
	border-radius: 5px;
	background-color: none;
}
.game-form label {
	color: #3ECB5F;
}
.btn-default {
	background-color: #3ECB5F;
	border: none;
	width: 50%;
	margin-top: 10px;
	color: white;
	transition: 0.5s;
	margin-left: 25%;
}
@media(min-width:768px){
	.game-form{
		max-width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}